<h6 class="docs-header">Platforms</h6>
<p class="info"><%= notice %></p>

<% @platforms.each do |platform| %>
  <p>
    <%= link_to platform.name, platform %> <%= platform.codename %> <%= platform.version %>
    <small>
      <%= link_to 'Edit', edit_platform_path(platform) %> |
      <%= link_to 'Destroy', platform, method: :delete, data: { confirm: 'Are you sure?' } %>
    </small>
  </p>
<% end %>
