<h5 class="title">
  <%= @platform.name %>
</h5>

<span>
  <%= @platform.codename %> (<%= @platform.version %>)
</span>

<pre>
  <code>
    <%= @platform.install_command %>
  </code>
</pre>

<%= link_to 'edit', edit_platform_path(@platform) %> |
<%= link_to 'back', platforms_path %>
