<%= form_for(@provision) do |f| %>
  <% if @provision.errors.any? %>
    <div class="error">
      <ul>
      <% @provision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, type: 'text', class: 'u-full-width'%>
    <ul></ul>

    <label>Choose a platform</label>
    <input id="search_platform" type="text" class='u-full-width'>
    <ul id="platforms"></ul>

    <label>Search Packages</label>
    <input id="search_package" type="text" class='u-full-width'>
    <ul id="packages"></ul>

    <%= f.label :script %>
    <%= f.text_area :script, type: 'text', class: 'u-full-width'%>

    <%= f.submit 'Save Provision Script', class: 'button-primary' %>

<% end %>
