<h5 class="title">All Provision Scripts</h5>

<p class="info"><%= notice %></p>

<% @provisions.each do |provision| %>
  <h4>
    <%= link_to provision.title, provision %>
  </h4>
  <% if owner(provision)%>
    <p>
      <%= link_to 'edit', edit_provision_path(provision) %> |
      <%= link_to 'destroy', provision, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% end %>

<br />
<%= link_to 'New Provision Script', new_provision_path %>
