<h5 class="title"><%= @provision.title %></h5>
<p class="info"><%= notice %></p>

<textarea class="u-full-width">
  <%= @provision.script %>
</textarea>

<pre>
    <code>
        ~$ curl <%= polymorphic_url(@provision) %>.txt
    </code>
</pre>
<% if owner(@provision) %>
  <%= link_to 'edit', edit_provision_path(@provision) %> |
  <%= link_to 'back', provisions_path %>
<% end %>
